<section>
	<div class="top">
		<p class="heading center my-2">Employees Manager</p>
		<div class="button-div mb-3">
			<button class="add px-3 py-2 shadow primary-btn" routerLink="/create">Add Employee</button>
		</div>
	</div>
	<app-employees></app-employees>
	<div class="my-5">
		<div class="center tech">
			<p class="mb-2">GitHub repository <a target="_blank" href="https://github.com/pro-panesar/ngx-employees-manager">Here</a></p>
			<p class="mb-2">Technologies used in this project</p>
			<img src="assets/img/angular.png" height="50">
			<img src="assets/img/nest.png" height="50">
			<img src="assets/img/mongo.png" height="50">
		</div>
	</div>
</section>
