@import '../../../variables.scss';

table {
	width: 90%;
	max-width: 400px;
	margin: 0 auto;
	font-size: 1.25rem;
}

table tr td {
	padding: 10px 20px;
}

table tr td:nth-child(2) {
	text-align: right;
	font-weight: bold;
}
