<section>
	<p class="center my-2 heading">View Employee</p>
	<table class="my-3">
		<tr>
			<td>First name</td>
			<td>{{ employee.firstName }}</td>
		</tr>
		<tr>
			<td>Last name</td>
			<td>{{ employee.lastName }}</td>
		</tr>
		<tr>
			<td>Job title</td>
			<td>{{ employee.jobTitle }}</td>
		</tr>
		<tr>
			<td>Gender</td>
			<td>{{ employee.gender == 'm' ? 'Male' : 'Female' }}</td>
		</tr>
		<tr>
			<td>Date of birth</td>
			<td>{{ employee.dob.toString().substr(0, 10) }}</td>
		</tr>
		<tr>
			<td>Age</td>
			<td>{{ employee.age }}</td>
		</tr>
	</table>
	<div class="center my-5">
		<button class="px-3 py-2 accent-btn mr-3 shadow" (click)="goto('home')">Home</button>
		<button class="shadow px-3 py-2 accent-btn mr-3" (click)="goto('/update/'+employee.id)">Update</button>
		<button class="shadow px-3 py-2 red-btn" (click)="goto('/delete/'+employee.id)">Delete</button>
	</div>
</section>