@import '../../../variables.scss';

.employee {
	border-radius: 7px;
	background-color: white;
	animation: fadeIn 500ms ease;
}

.top {
	background-color: $primary;
	color: $light;
	display: flex;
	align-items: center;
	border-radius: 7px;
}	

p.name, .job-title {
	font-size: 1.4rem;
  font-family: 'Open Sans';
}

.job-title {
	margin: 10px auto;
}
