@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=PT+Sans+Caption&family=Poppins:wght@300;400;500&family=Staatliches&display=swap');
@import './variables.scss';
@import './assets/styles/bootstrap.utilities.css';

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
  font-family: 'Open Sans';
  color: $text;
  background-color: $accent-light;
}

section {
  animation: fadeInUp .5s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0,40px,0)
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0,40px,0)
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1
  }
}

p, h1, h2 {
	margin: 0;
}

a {
  transition: 300ms all ease;
  text-decoration: none;
  color: $primary;

  &:hover {
    text-decoration: underline;
  }
}

button {
  transition: 300ms all ease;
  outline: none;
  font-size: 1rem;
  border: .1rem solid transparent;
  border-radius: 5px;
  background-color: $light;
  user-select: none;
}

button:hover, a:hover {
  cursor: pointer;
}

.center { text-align: center; }

.primary-btn {
  background-color: $primary;
  color: $light;
  &:hover {
    background-color: $primary-hover;
  }
}

.accent-btn {
  background-color: $accent;
  color: $light;
  &:hover {
    background-color: $accent-hover;
  }
}

.red-btn {
  background-color: $red;
  color: $light;
  &:hover {
    background-color: $red-hover;
  }
}

.shadow {
	box-shadow: 0 0 15px rgba(88, 93, 99, 0.315);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 850px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 1070px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1270px;
  }
}

.heading {
	font-family: 'Staatliches', cursive;
	font-size: 3rem;
  color: $primary;
}

input {
  outline: none;
  color: $text;
  border-radius: 5px;
  border: .1rem solid transparent;
	box-shadow: 0 0 15px rgba(88, 93, 99, 0.164);
  padding: .35rem .75rem;
  font-size: 1rem;
}
.input-error {
  border: .1rem solid $red;
}

$radioSize: 22px;
$radioBorder: #D1D7E3;
$radioActive: $primary;

.radio {
  margin: 16px 0;
  display: block;
  cursor: pointer;
  input {
    display: none;
    & + span {
      line-height: $radioSize;
      height: $radioSize;
      padding-left: $radioSize;
      display: block;
      position: relative;
      &:not(:empty) {
        padding-left: $radioSize + 8;
      }
      &:before,
      &:after {
        content: '';
        width: $radioSize;
        height: $radioSize;
        display: block;
        border-radius: 50%;
        left: 0;
        top: 0;
        position: absolute;
      }
      &:before {
        background: $radioBorder;
        transition: background .2s ease, transform .4s cubic-bezier(.175, .885, .32, 2);
      }
      &:after {
        background: #fff;
        transform: scale(.78);
        transition: transform .6s cubic-bezier(.175, .885, .32, 1.4);
      }
    }
    &:checked + span {
      &:before {
        transform: scale(1.04);
        background: $radioActive;
      }
      &:after {
        transform: scale(.4);
        transition: transform .3s ease;
      }
    }
  }
  &:hover {
    input {
      & + span {
        &:before {
          transform: scale(.92);
        }
        &:after {
          transform: scale(.74);
        }
      }
      &:checked + span {
        &:after {
          transform: scale(.4);
        }
      }
    }
  }
}

.error-div {
  p {
    color: $red
  }
}