@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=PT+Sans+Caption&family=Poppins:wght@300;400;500&family=Staatliches&display=swap');
@import './variables.scss';
@import './assets/styles/bootstrap.utilities.css';
@import './assets/styles/animations.scss';

* {
  font-family: 'Poppins';
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
  color: $text;
  background-color: $background;
}

section {
  animation: fadeInUp 500ms ease;
}

p, h1, h2 {
	margin: 0;
}

a {
  transition: 300ms ease-out;
  text-decoration: none;
  color: $primary;

  &:hover {
    text-decoration: underline;
  }
}

button {
  transition: 300ms ease-out;
  outline: none;
  font-size: .9rem;
  border: .1rem solid transparent;
  border-radius: $border-radius;
  background-color: $light;
  user-select: none;
}

button:active:focus {
  transform: scale(2);
  opacity: 0;
}

button:hover, a:hover {
  cursor: pointer;
}

.center { text-align: center; }

.primary-btn {
  background-color: $primary;
  color: $light;
  &:hover {
    background-color: $primary-hover;
  }
}

.accent-btn {
  background-color: $accent;
  color: $light;
  &:hover {
    background-color: $accent-hover;
  }
}

.red-btn {
  background-color: $red;
  color: $light;
  &:hover {
    background-color: $red-hover;
  }
}

.shadow {
	box-shadow: 0 0 10px rgba(88, 93, 99, 0.315);
}

.heading {
	font-family: 'Staatliches', cursive;
	font-size: 3rem;
  color: $primary;
}

input {
  outline: none;
  color: $text;
  border-radius: $border-radius;
  border: 3px solid transparent;
	box-shadow: 0 0 6px rgba(88, 93, 99, 0.308);
  background-color: white;
  padding: .35rem .7rem;
  font-size: 1rem;
  transition: 300ms border-bottom ease;
  &:focus {
    border-bottom: 3px solid $accent;
  }
}

$radioSize: 22px;
$radioBorder: #D1D7E3;
$radioActive: $primary;

.radio {
  margin: 16px 0;
  display: block;
  cursor: pointer;
  input {
    display: none;
    & + span {
      line-height: $radioSize;
      height: $radioSize;
      padding-left: $radioSize;
      display: block;
      position: relative;
      &:not(:empty) {
        padding-left: $radioSize + 8;
      }
      &:before,
      &:after {
        content: '';
        width: $radioSize;
        height: $radioSize;
        display: block;
        border-radius: 50%;
        left: 0;
        top: 0;
        position: absolute;
      }
      &:before {
        background: $radioBorder;
        transition: background .2s ease, transform .4s cubic-bezier(.175, .885, .32, 2);
      }
      &:after {
        background: #fff;
        transform: scale(.78);
        transition: transform .6s cubic-bezier(.175, .885, .32, 1.4);
      }
    }
    &:checked + span {
      &:before {
        transform: scale(1.04);
        background: $radioActive;
      }
      &:after {
        transform: scale(.4);
        transition: transform .3s ease;
      }
    }
  }
  &:hover {
    input {
      & + span {
        &:before {
          transform: scale(.92);
        }
        &:after {
          transform: scale(.74);
        }
      }
      &:checked + span {
        &:after {
          transform: scale(.4);
        }
      }
    }
  }
}

.error-div {
  p {
    color: $red
  }
}

@media (min-width: 768px) {
  .heading {
    margin-top: unset;
    margin-bottom: unset;
  }
}