$primary: #6200EE;
$primary-hover: #7363ce;
$primary-light: #6300ee0e;
$accent: #00b3a1;
$accent-hover: #00b3a1e7;
$accent-light: #d8f5f269;
$red: #E83749;
$red-hover: #fc5666;
$light: #FAFAFA;
$text: #3a434b;
$background: #ffffff;